{% extends "layout.html" %}

{% block title_section_name %}Ingresar{% endblock %}

{% block header_section_name %}Ingresar{% endblock %}

{% block head %}
<style>
  .login-card {
    flex: 1 0 auto;
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 80px;
    position: relative;
  }

  .login-form {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 64px;
  }

  .form-fields-list {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 32px;
  }

  .form-field {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 8px;
  }

  .form-field__label {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
  }

  .form-field__input[type=text],
  .form-field__input[type=password],
  .form-field__input[type=email] {
    width: 688px;
    height: 32px;
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }
</style>
{% endblock %}

{% block content %}
<section class="login-card">
  <h3 class="text-display1">Te damos la bienvenida</h3>
  <form class="login-form" action="{{ url_for('auth.authenticate') }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-fields-list">
      <div class="form-field">
        <label class="form-field__label" for="email">Correo electrónico</label>
        <input class="form-field__input" id="email" type="email" name="email" required />
      </div>
      <div class="form-field">
        <label class="form-field__label" for="password">Clave</label>
        <input class="form-field__input" id="password" type="password" name="password" required />
      </div>
    </div>
    <input class="button button--large button--primary" type="submit" name="submit" value="Confirmar" />
  </form>
</section>
{% endblock %}