{% extends "layout.html" %}

{% block title_section_name %}Facturas de {{member.last_name}}, {{member.first_name}} - Pagos{% endblock %}

{% block header_section_name %}Facturas de usuario{% endblock %}

{% block head %}
<style>
  .page {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    padding: 16px;
  }
  .page .invoice-card {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 16px;
    padding: 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .page .invoice-actions {
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
  }
  .page .actions {
    margin-block-start: 32px;
    align-self: flex-start;
  }
</style>
{% endblock %}

{% block content %}
<div class="page">
  <h1>Facturas del usuario {{member.last_name}}</h1>

  {% if not invoices %}
    <p>No hay facturas</p>
  {% else %}
    {% for invoice in invoices %}
      <div class="invoice-card">
        <div>
          Factura del mes: {{invoice.month}}
          <p>Estado: {% if invoice.paid %}Pagada{% else %}No pagada{% endif %}</p>
        </div>
        <nav class="invoice-actions">
          <a class="button button--primary" href="{{url_for('payments.show_invoice',invoice_id=invoice.id)}}">
            Ver
          </a>
          {% if invoice.paid %}
            <a class="button button--primary" href="{{url_for('payments.download',invoice_id=invoice.id)}}">
              Descargar comprobante
            </a>
          {% endif %}
        </nav>
      </div>
    {% endfor %}
  {% endif %}
  <nav class="actions">
    <a class="button button--primary" href="/payments">Volver</a>
  </nav>
</div>
{% endblock %}