{% extends "layout.html" %}
{% block title %} Disciplinas {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
<h1>Facturas del usuario {{member.last_name}}</h1>


{% if not invoices %}
<p>No hay facturas</p>
{%else%}
{% for invoice in invoices %}

<div style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s;">
    <div style=" padding: 2px 16px;">
        <h4><b>Factura del mes: {{invoice.month}}</b></h4>
        <p>Estado: {%if invoice.paid%}Pagada{%else%}No pagada{%endif%}</p>
    </div>
    {%if not invoice.paid%}
    <a href="{{url_for('payments.show_invoice',invoice_id=invoice.id)}}">Pagar</a>
    {%else%}
    <p>BOTON DESCARGAR PDF</p>
    {%endif%}

</div>
{% endfor %}
{%endif%}

{% endblock %}