{% extends "layout.html" %}

{% from "_render_field.html" import render_field %}

{% block title_section_name %}Buscar usuario - Pagos{% endblock %}

{% block header_section_name %}Buscar usuario para pago{% endblock %}

{% block head %}
<style>
    .page {
        flex: 1 0 auto;
        display: flex;
        flex-flow: column nowrap;
        padding: 16px;
    }
    .page .actions {
        align-self: flex-start;
        display: flex;
        margin-block-start: 32px;
    }
</style>
{% endblock %}

{% block content %}
<div class="page">
    <p>Ingrese el ID o apellido del usuario que desea buscar</p>
    <form action="{{ url_for('payments.search') }}" method="POST">
        <dl>
            {{ render_field(form.select) }}
            <p>
                {{ render_field(form.search) }}
            </p>
        </dl>
        <nav class="actions">
            <button class="button button--primary" type="submit">Buscar</button>
        </nav>
    </form>
</div>

{% endblock %}