{% extends "layout.html" %}

{% from "_render_field.html" import render_field %}

{% block title_section_name %}Buscar usuario - Pagos{% endblock %}

{% block header_section_name %}Buscar usuario para pago{% endblock %}

{% block content %}
<p>Ingrese el ID o apellido del usuario que desea buscar</p>
<form action="{{ url_for('payments.search') }}" method="POST">

    <dl>
        {{ render_field(form.select) }}
        <p>
            {{ render_field(form.search) }}
        </p>
    </dl>
    <button type="submit">Buscar</button>
</form>

{% endblock %}