@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

:root {
  --font-family--base: 'Saira', sans-serif;

  --color--primary: #008040;
  --color--secondary: #6C8993;
  --color--success: var(--color--primary);
  --color--danger: #DF2020;

  --color--bright-hover: #FFFFFF20;

  --background-color--background-surface: #E6E6E6;
  --foreground-color--background-surface: #000000;

  --background-color--primary-surface: var(--color--primary);
  --background-color--primary-surface--hover: #1C8E55;
  --foreground-color--primary-surface: #FFFFFF;

  --background-color--secondary-surface: var(--color--secondary);
  --background-color--secondary-surface--hover: #7C969F;
  --foreground-color--secondary-surface: #FFFFFF;

  --background-color--success-surface: var(--color--success);
  --background-color--success-surface--hover: #1C8E55;
  --foreground-color--success-surface: #FFFFFF;

  --background-color--danger-surface: var(--color--danger);
  --background-color--danger-surface--hover: #E33939;
  --foreground-color--danger-surface: #FFFFFF;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: var(--font-family--base);
}

a:any-link {
  color: unset;
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100vh;
}

.text-display1 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 300;
}

.button {
  padding: 4px 8px;
  background-color: transparent;
  background: transparent;
	border: none;
	border-radius: 4px;
  color: unset;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	transition: all 250ms ease-out;
}

.button:hover {
  background-color: var(--color--bright-hover);
}

.button.button--primary {
	background-color: var(--background-color--primary-surface);
	color: var(--foreground-color--primary-surface);
}

.button.button--primary:hover {
  background-color: var(--background-color--primary-surface--hover);
}

.button.button--success {
	background-color: var(--background-color--success-surface);
	color: var(--foreground-color--success-surface);
}

.button.button--success:hover {
  background-color: var(--background-color--success-surface--hover);
}

.button.button--danger {
	background-color: var(--background-color--danger-surface);
	color: var(--foreground-color--danger-surface);
}

.button.button--danger:hover {
  background-color: var(--background-color--danger-surface--hover);
}

.button.button--large {
	padding: 8px 16px;
	font-size: 24px;
	line-height: 32px;
}

.table-wrapper {
  display: flex;
  flex-flow: column nowrap;
  overflow-x: auto;
}

.application-bar {
  flex: 0 0 auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  position: relative;
  height: 64px;
  padding: 8px 16px;
  background-color: var(--background-color--primary-surface);
  color: var(--foreground-color--primary-surface);
}

.application-bar .application-bar__current-location {
  grid-column: 1 / span 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  column-gap: 12px;
}

.application-bar .application-bar__logo-button {
  padding: 4px 8px;
}

.application-bar .application-bar__website-name {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
}

.application-bar .application-bar__section-name {
  font-size: 22px;
  line-height: 32px;
  font-weight: 200;
}

.application-bar .application-bar__authenticated-user {
  grid-column: 2 / span 1;
}

.application-bar .application-bar__authenticated-user-name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
}

.application-bar .application-bar__authenticated-user-role {
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
}

.application-bar .application-bar__profile-button {
  grid-column: 3 / span 1;
}

.application-bar .application-bar__authenticate-button {
  grid-column: 4 / span 1;
}

.navigation-bar {
	display: flex;
	padding: 4px 16px;
  background-color: var(--background-color--secondary-surface);
  color: var(--foreground-color--secondary-surface);
}

.navigation-bar .section-links-list {
	display: flex;
	column-gap: 8px;
}

.navigation-bar .section-link-item {
  display: flex;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  position: relative;
  background-color: var(--background-color--background-surface);
  color: var(--foreground-color--background-surface);
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#footer {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

#main {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  min-height: 400px;
}

a.link {
  text-transform: uppercase;
  font-size: 10px;
  background-color: #92a4ad;
  padding: 10px 15px;
  border-radius: 0;
  color: #416475;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}

/* Used for tables on index pages. */
.index-table {
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1rem;
}

.index-table td,
.index-table th {
  padding: 1rem;
  text-align: left;
}

.index-table td,
.index-table th {
  border-bottom: 1px solid #f4f4f4; /* grey-1 */
}

.index-table tr:last-child td {
  border-bottom: none;
}

.index-table tr:hover {
  background-color: rgba(0, 0, 0, .04);
}

/* Don't highlight thead on hover */
.index-table thead tr:hover {
  background-color: rgba(0, 0, 0, 0);;
}

.index-table-link,
.index-table-action-link {
  margin: -1rem;
  padding: 1rem;
  color: #007ecc; /* blue */
  fill: #007ecc; /* blue */

  text-decoration: none;
}

.index-table-link {
  display: block;
}

.index-table-action-link:hover {
  display: inline-block;
  background-color: rgba(0, 0, 0, .04);
}

.index-table-action-link {
  float: right;
}

tr.disabled {
  color: #bbb !important;
}

.object-property-label{
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
}

.object-property-value{
  display: inline;
}

.object-property-container {
  display: block;
  margin: 1%;
}

.edit-link {
  margin-left: 1%;
  float: left;
}

.flash-message-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  row-gap: 0.25rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 25rem;
}

.flash-message-list .flash-message {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding: 8px 8px 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.flash-message-list .flash-message.closed {
  animation-name: fade-out;
	animation-duration: 500ms;
	animation-direction: normal;
	animation-fill-mode: forwards
}

.flash-message-list .flash-message.error {
  background-color: var(--background-color--danger-surface);
  color: var(--foreground-color--danger-surface);
}

.flash-message-list .flash-message.success {
  background-color: var(--background-color--success-surface);
  color: var(--foreground-color--success-surface);
}

i {
    margin: 7%
}

.paginator-container {
    display: flex;
    justify-content: center;
}
.paginator-number {
    margin:0.4em
}

#result {
    padding: 3px;
    width: 50%;
  }
  #result ul {
    border: 1px dotted #ccc;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #result ul li {
    padding: 5px 0;
  }
  #result ul li:hover {
    background: #eee;
  }

  /*https://github.com/sparksuite/simple-html-invoice-template */
  .invoice-box {
    margin-block: 32px;
    max-width: 800px;
    margin-inline: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
  }

  .invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
  }

  .invoice-box table td {
    padding: 5px;
    vertical-align: top;
  }

  .invoice-box table tr td:nth-child(2) {
    text-align: right;
  }

  .invoice-box table tr.top table td {
    padding-bottom: 20px;
  }

  .invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
  }

  .invoice-box table tr.information table td {
    padding-bottom: 40px;
  }

  .invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }

  .invoice-box table tr.details td {
    padding-bottom: 20px;
  }

  .invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
  }

  .invoice-box table tr.item.last td {
    border-bottom: none;
  }

  .invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
  }


@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.license-body{
    margin-top: 50%;
    margin-left: 50%;
    align-items: center;
    justify-content: center;
}

.license-container {
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 5px;
}

.license-content {
    width: 500px;
    height: 500px;
}
.license-html, .license-body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

.license-header-container {
    display: block;
    height: 20%;
    border-bottom: 4px solid #000000;
}
.license-header {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

.license-left-col{
    width: 50%;
    height: 100%;
}
.license-body-container {
    display: flex;
}
.license-right-col{
    width: 50%;
    height: 100%;
}
.license-avatar-container{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10%
}

.license-avatar-img {
    border-radius: 50%;
    width: 80%;
    height: 100%;
}

.license-personal-data{
    margin-top: 10%;
}

.license-full-name-container{
    margin-top: 15%;
}

.license-user-state-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40%;
}

.license-full-name-container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.personal-data-item {
    display: block;
    margin-bottom: 2%;

}

.license-qr-code-container {
    display: flex;
    justify-content: center;
    margin-top:20%
}

.license-qr-code {
    width: 50%;
}