@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
body {
  background-color: #4B7399;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 14px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#footer {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

#main {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  min-height: 400px;
}

a.link {
  text-transform: uppercase;
  font-size: 10px;
  background-color: #92a4ad;
  padding: 10px 15px;
  border-radius: 0;
  color: #416475;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}

/* Used for tables on index pages. */
.index-table {
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1rem;
}

.index-table td,
.index-table th {
  padding: 1rem;
  text-align: left;
}

.index-table td,
.index-table th {
  border-bottom: 1px solid #f4f4f4; /* grey-1 */
}

.index-table tr:last-child td {
  border-bottom: none;
}

.index-table tr:hover {
  background-color: rgba(0, 0, 0, .04);
}

/* Don't highlight thead on hover */
.index-table thead tr:hover {
  background-color: rgba(0, 0, 0, 0);;
}

.index-table-link,
.index-table-action-link {
  margin: -1rem;
  padding: 1rem;
  color: #007ecc; /* blue */
  fill: #007ecc; /* blue */

  text-decoration: none;
}

.index-table-link {
  display: block;
}

.index-table-action-link:hover {
  display: inline-block;
  background-color: rgba(0, 0, 0, .04);
}

.index-table-action-link {
  float: right;
}

tr.disabled {
  color: #bbb !important;
}

.object-property-label{
  font-weight: bold;
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.object-property-value{
  display: inline;
}

.object-property-container {
  display: block;
  margin: 1%;
}

.edit-link {
  margin-left: 1%;
  float: left;
}

.success {
    background-color: greenyellow;
}

i {
    margin: 7%
}

.paginator-container {
    display: flex;
    justify-content: center;
}
.paginator-number {
    margin:0.4em
}

#result {
    padding: 3px;
    width: 50%;
  }
  #result ul {
    border: 1px dotted #ccc;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #result ul li {
    padding: 5px 0;
  }
  #result ul li:hover {
    background: #eee;
  }

  /*https://github.com/sparksuite/simple-html-invoice-template */
  .invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
  }

  .invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
  }

  .invoice-box table td {
    padding: 5px;
    vertical-align: top;
  }

  .invoice-box table tr td:nth-child(2) {
    text-align: right;
  }

  .invoice-box table tr.top table td {
    padding-bottom: 20px;
  }

  .invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
  }

  .invoice-box table tr.information table td {
    padding-bottom: 40px;
  }

  .invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }

  .invoice-box table tr.details td {
    padding-bottom: 20px;
  }

  .invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
  }

  .invoice-box table tr.item.last td {
    border-bottom: none;
  }

  .invoice-box table tr.total td:nth-child(2) {
    border-top: 2px solid #eee;
    font-weight: bold;
  }