<meta charset="utf-8">
<style>
    * {
        box-sizing: border-box;
    }
    h1 {
        margin-bottom: 1rem;
    }
    table {
        table-layout: auto;
    }
    table thead {
        font-size: 1.1rem;
    }
    table thead tr th {
        padding: 0.25rem 1rem;
        background-color: whitesmoke;
    }
    table tbody {
        font-size: 1rem;
    }
    table tbody tr:nth-child(odd) {
        background-color: white;
    }
    table tbody tr:nth-child(even) {
        background-color: whitesmoke;
    }
    table tbody tr td {
        padding: 0.25rem 1rem;
    }
</style>

<h1>Lista de Miembros</h1>
<div>
    <table class="index-table box">
        <thead>
            <tr>
                <th>Miembro</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo Doc.</th>
                <th>Nro.Doc.</th>
                <th>Genero</th>
                <th>Direcc.</th>
                <th>Estado</th>
                <th>Telef.</th>
                <th>Email</th>
                <th>Fecha Alta</th>
            </tr>
        </thead>
        <tbody>
            {% for mem in members %}
            <tr>
                <td>{{mem.id}}</td>
                <td>{{mem.first_name}}</td>
                <td>{{mem.last_name}}</td>
                <td>{{mem.personal_id_type}}</td>
                <td>{{mem.personal_id}}</td>
                <td>{{mem.gender}}</td>    
                <td>{{mem.address}}</td>
                <td>{{'Si' if mem.membership_state else 'No'}}</td>
                <td>{{mem.phone_number}}</td>
                <td>{{mem.email}}</td>
                <td>{{mem.activation_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
