{% extends "layout.html" %}

{% block title_section_name %}{{member.last_name}} , {{member.first_name}} - Miembros{% endblock %}

{% block header_section_name %}Detalle de miembro{% endblock %}

{% block head %}
<style>
  .member-detail {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 16px;
  }
  .member-detail .heading {
    font-size: 32px;
    font-weight: 300;
    line-height: 48px;
  }
  .actions {
    margin-block-start: 32px;
  }
</style>
{% endblock %}

{% block content %}
<section class="member-detail">
  <h3 class="heading">{{member.last_name}}, {{member.first_name}}</h3>

  <div class="object-property-container">
    <label class="object-property-label">Nombre : </label>
    <div class="object-property-value">{{ member.first_name }}</div>
  </div>
  <div class="object-property-container">
    <label class="object-property-label">Apellido : </label>
    <div class="object-property-value">{{ member.last_name }}</div>
  </div>
  <div class="object-property-container">
    <label class="object-property-label">Tipo Doc.: </label>
    <div class="object-property-value">{{ member.personal_id_type }}</div>
  </div>
  <div class="object-property-container">
    <label class="object-property-label">Nro.Doc: </label>
    <div class="object-property-value">{{ member.personal_id }}</div>
  </div>
  <div class="object-property-container">
    <label class="object-property-label">Género: </label>
    <div class="object-property-value">{{ member.gender }}</div>
  </div>
  <div class="object-property-container">
    <label class="object-property-label">Dirección: </label>
    <div class="object-property-value">{{ member.address }}</div>
  </div>
  <div class="object-property-container">
    <label class="object-property-label">Estado: </label>
    <div class="object-property-value">{{ member.membership_state }}</div>
  </div>
  <div class="object-property-container">
    <label class="object-property-label">Teléfono: </label>
    <div class="object-property-value">{{ member.phone_number }}</div>
  </div>
  <div class="object-property-container">
    <label class="object-property-label">Email: </label>
    <div class="object-property-value">{{ member.email }}</div>
  </div>
  <div class="object-property-container">
    <label class="object-property-label">Fecha Alta: </label>
    <div class="object-property-value">{{ member.activation_date }}</div>
  </div>

  <nav class="actions">
    <a class="button button--primary" href="{{url_for('member.index')}}">Volver</a>
  </nav>

</section>
{% endblock %}