{% extends "layout.html" %}
  {% block title %} Miembros {% endblock %}
  {% block head %} {{ super() }} {% endblock %}
  {% block content %}
  <h1>Miembro: {{ member.name}}</h1>

 
  <table class="index-table box">
    <thead>
        <tr>
            <th>Miembro</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Tipo Doc.</th>
            <th>Nro.Doc</th>
            <th>Género</th>
            <th>Direcc.</th>
            <th>Estado</th>
            <th>Teléf.</th>
            <th>Email</th>
            <th>Fecha Alta</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{member.id}}</td>
            <td>{{member.first_name}}</td>
            <td>{{member.last_name}}</td>
            <td>{{member.personal_id_type}}</td>
            <td>{{member.personal_id}}</td>
            <td>{{member.gender}}</td>    
            <td>{{member.address}}</td>
            <td>{{member.membership_state}}</td>
            <td>{{member.phone_number}}</td>
            <td>{{member.email}}</td>
            <td>{{'Si' if member.membership_state else 'No'}}</td>
            <td><a href="/miembros/{{ member.id }}/update">Editar</a></td>
            <td>
              <form action="/miembros/{{ member.id }}/delete" method="POST">
                <input type="submit" value="Eliminar">
              </form>
            </td>
        </tr>
    </tbody>
  </table>

  {% endblock %}