{% extends "layout.html" %}
  {% block title %} Cargar Disciplina {% endblock %}
  {% block head %} {{ super() }} {% endblock %}
  {% block content %}
  <h1>Alta de disciplina</h1>
  <form action="{{ url_for('disciplines.create') }}" method="post">
                <div >
                    <div>
                        <label for="name">Name</label>
                            <input type="text" id="name" name="name" required />
                    </div>
                    <div>
                        <label for="category">Categoría</label>
                            <input type="text" id="category" name="category" required />
                    </div>
                    <div>
                        <label for="instructor_name">Nombre del instructor</label>
                            <input type="text" id="instructor_name" name="instructor_name" required />
                    </div>
                    <div>
                        <label for="schedule">Horario</label>
                            <input type="text" id="schedule" name="schedule" required/>
                    </div>
                    <div>
                        <label for="cost">Costo Mensual</label>
                            <input type="text" id="cost" name="cost"required />
                    </div>
                    <div>
                        <label for="enabled">Habilitado</label>
                            <input type="checkbox" id="enabled" value="true" name="enabled" checked />
                        </div>

                </div>
                    <button type="submit" >Submit</button>
            </form>

  {% endblock %}