{% extends "layout.html" %}
  {% block title %} Disciplinas {% endblock %}
  {% block head %} {{ super() }} {% endblock %}
  {% block content %}
  <h1>Disciplina: {{ discipline.name}} - Inscripción</h1>

<h1>Agregue nuevo socio</h1>
<form autocomplete="off" target="{{url_for('disciplines.create_enrollment', id = discipline.id)}}" method="post">
    <label>N de documento: </label>
    <input id="member_input" name = "dni" onkeyup="showResults(this.value)"/>
    <input id="chosen_member_id" type="hidden" name="chosen_member_id"/>
    <div id="result"></div>
    <input name = "Enviar" type="submit"/>
</form>

  {% endblock %}