{% extends "layout.html" %}

{% block title_section_name %}Inscripción - Disciplinas{% endblock %}

{% block header_section_name %}Inscripción a disciplina{% endblock %}

{% block head %} {{ super() }} {% endblock %}

{% block content %}
<h2>Ingrese el socio que desea inscribir en la disciplina {{discipline.name}}:</h2>
<form autocomplete="off" target="{{url_for('disciplines.create_enrollment', id = discipline.id)}}" method="post">
  <label>Número de documento</label>
  <input id="member_input" name="dni" onkeyup="showResults(this.value)" />
  <input id="chosen_member_id" type="hidden" name="chosen_member_id" />
  <div id="result"></div>
  <input name="Enviar" type="submit" />
  <a href="{{url_for('disciplines.show', id=discipline.id)}}">Cancelar</a>
</form>

{% endblock %}