{% extends "layout.html" %}
{% block title%} Disciplinas{% endblock %}
{% block navbar%} {{super()}} {% endblock %}
{% block head %} 
{{ super() }} 
<meta charset="utf-8">
{% endblock %}
{% block content%} 
<h1>Lista de Disciplinas</h1>
<div>
    <table class="index-table box">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Horario</th>
                <th>instructor/es</th>
                <th>costo</th>
            </tr>
        </thead>
        <tbody>
            {% for discipline in disciplines %}
            <tr>
                <td>{{ discipline.name }}</a></td>
                <td>{{ discipline.category }}</td>
                <td>{{ discipline.schedule }}</td>
                <td>{{ discipline.coach }}</td>
                <td>{{ discipline.monthly_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}