{% extends "layout.html" %}

{% block title_section_name %}Disciplinas{% endblock %}

{% block header_section_name %}Lista de disciplinas{% endblock %}

{% block content %}
<table class="index-table box">
  <tr>
    <th>Nombre</th>
    <th>Categoría</th>
    <th>Horario</th>
    <th>Instructor/es</th>
    <th>Costo</th>
    <th>Acciones</th>
  </tr>
  {% for discipline in disciplines %}
  <tr>
    <td> <a href="/disciplines/{{ discipline.id }}">{{ discipline.name }}</a></td>
    <td>{{ discipline.category }}</td>
    <td>{{ discipline.schedule }}</td>
    <td>{{ discipline.coach }}</td>
    <td>{{ discipline.monthly_price }}</td>
    <td style="display: flex; column-gap: 8px">
      <a class="button button--primary" href="{{url_for('disciplines.show', id=discipline.id)}}" title="Ver detalle">
        Detalle
      </a>
      <a class="button button--primary" href="{{url_for('disciplines.update', id=discipline.id)}}" title="Actualizar">
        Actualizar
      </a>
      <a class="button button--danger" href="{{url_for('disciplines.delete', id=discipline.id)}}" title="Eliminar">
        Eliminar
      </a>
    </td>
  </tr>
  {% endfor %}
</table>

<nav style="display: flex; column-gap: 16px; align-self: flex-end; padding: 16px;">
  <a href="{{url_for('disciplines.create')}}" class="button button--primary">
    Crear disciplina
  </a>
  <a href="{{url_for('disciplines.download')}}" class="button button--primary">
    Exportar
  </a>
</nav>
{% endblock %}