{% extends "layout.html" %}
  {% block title %} Disciplinas {% endblock %}
  {% block head %} {{ super() }} {% endblock %}
  {% block content %}
  <h1>Disciplina: {{ discipline.name}}</h1>

 
  <table class="index-table box">
    <thead>
        <tr>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Horario</th>
          <th>instructor/es</th>
          <th>costo</th>
          <th>Editar</th>
          <th>Eliminar</th>     
        </tr>
    </thead>
    <tbody>    
      <tr>
        <td>{{ discipline.name }}</td>
        <td>{{ discipline.category }}</td>
        <td>{{ discipline.schedule }}</td>
        <td>{{ discipline.coach }}</td>
        <td>{{ discipline.monthly_price }}</td>
        <td><a href="/disciplines/{{ discipline.id }}/update">Editar</a></td>
        <td><form action="/disciplines/{{ discipline.id }}/delete" method="POST">
          <input type="submit" value="Eliminar">
        </form></td>
      </tr>
    </tbody>  
</table> 

<h1>Lista de Inscriptos</h1>
<div>
    <table class="index-table box">
        <thead>
            <tr>
                <th>Miembro</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo Doc.</th>
                <th>Nro.Doc.</th>
                <th>Género</th>
                <th>Direcc.</th>
                <th>Estado</th>
                <th>Teléf.</th>
            </tr>
        </thead>
        <tbody>
            {% for mem in discipline.members %}
            <tr>
                <th><a href="/miembros/{{ mem.id }}">{{mem.id}}</a></th>
                <th>{{mem.first_name}}</th>
                <th>{{mem.last_name}}</th>
                <th>{{mem.personal_id_type}}</th>
                <th>{{mem.personal_id}}</th>
                <th>{{mem.gender}}</th>    
                <th>{{mem.address}}</th>
                <th>{{mem.phone_number}}</th>
                <th>{{mem.email}}</th>
            </tr>
            {% endfor %}
        </tbody>

        <a href="{{url_for('disciplines.enrollment_form', id=discipline.id)}}">Inscribir nuevo socio</a>
    </table>
</div>

  {% endblock %}