{% extends "layout.html" %}

{% block title_section_name %}{{ discipline.name }} - Disciplinas{% endblock %}

{% block header_section_name %}Detalle de disciplina{% endblock %}

{% block head %} {{ super() }} {% endblock %}

{% block content %}
<h3>{{ discipline.name}}</h3>

<div class="object-property-container">
  <label class="object-property-label">Categoría : </label>
  <div class="object-property-value">{{ discipline.category }}</div>
</div>
<div class="object-property-container">
  <label class="object-property-label">Schedule : </label>
  <div class="object-property-value">{{ discipline.schedule }}</div>
</div>
<div class="object-property-container">
  <label class="object-property-label">Instructor/es: </label>
  <div class="object-property-value">{{ discipline.coach }}</div>
</div>

<div class="object-property-container">
  <label class="object-property-label">Costo mensual: </label>
  <div class="object-property-value">{{ discipline.monthly_price }}</div>
</div>
<h3>Lista de Inscriptos</h3>
<div>
  <table class="index-table box">
    <thead>
      <tr>
        <th>Miembro</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Tipo Doc.</th>
        <th>Nro.Doc.</th>
        <th>Género</th>
        <th>Direcc.</th>
        <th>Estado</th>
        <th>Teléf.</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for mem in discipline.members %}
      <tr>
        <td><a href="/miembros/{{ mem.id }}">{{mem.id}}</a></td>
        <td>{{mem.first_name}}</td>
        <td>{{mem.last_name}}</td>
        <td>{{mem.personal_id_type}}</td>
        <td>{{mem.personal_id}}</td>
        <td>{{mem.gender}}</td>
        <td>{{mem.address}}</td>
        <td>{{mem.phone_number}}</td>
        <td>{{mem.email}}</td>
        <td style="display: flex; column-gap: 8px">
          <a class="button button--danger" href="{{url_for('disciplines.destroy_enrollment', id=discipline.id, member_id=mem.id)}}" title="Eliminar">
            Eliminar
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="button button--primary" href="{{url_for('disciplines.enrollment_form', id=discipline.id)}}">
    Inscribir nuevo socio
  </a>
  <a class="button" href="{{url_for('disciplines.index')}}">
    Volver
  </a>
</div>

{% endblock %}