{% extends "layout.html" %}
{% from "_render_field.html" import render_field %}

{% block title %} Cargar Disciplina {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
<h1>Modificar disciplina</h1>

<section>

    <form action="/disciplines/update" method="post">
        <input type="hidden" name="id" value="{{id}}">

        <div class="object-property-container">
            <label class="object-property-label"> {{ form.name.label }}: </label>
            {{ form.name(class="css_class") }}
        </div>
        <div class="object-property-container">
            <label class="object-property-label"> {{ form.category.label }}: </label>
            {{ form.category(class="css_class") }}
        </div>
        <div class="object-property-container">
            <label class="object-property-label"> {{ form.coach.label }}: </label>
            {{ form.coach(class="css_class") }}
        </div>
        <div class="object-property-container">
            <label class="object-property-label"> {{ form.schedule.label }}: </label>
            {{ form.schedule(class="css_class") }}
        </div>
        <div class="object-property-container">
            <label class="object-property-label"> {{ form.monthly_price.label }}: </label>
            {{ form.monthly_price(class="css_class") }}
        </div>
        <div class="object-property-container">
            <label class="object-property-label"> {{ form.active.label }}: </label>
            {{ form.active(class="css_class") }}
        </div>

        <input class="edit-link" type="submit" name="Guardar" value="Guardar" />
        <a class="edit-link" href="{{url_for('disciplines.index')}}"><button type="button">Cancelar</button></a>
    </form>

</section>

{% endblock %}