{% extends "layout.html" %}
{% from "_render_field.html" import render_field %}

{% block title %} Cargar Disciplina {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
<h1>Modificar disciplina</h1>

<form action="{{ url_for('disciplines.update', id=id) }}" method="post">

    {{ render_field(form.name) }}
    {{ render_field(form.category) }}
    {{ render_field(form.coach) }}
    {{ render_field(form.schedule) }}
    {{ render_field(form.monthly_price) }}
    {{ render_field(form.active) }}
    <button type="submit">Submit</button>

</form>

{% endblock %}