{% extends "layout.html" %}

{% block title_section_name %}Actualizar {{user.lastname}}, {{user.firstname}} - Usuarios{% endblock %}

{% block header_section_name %}Actualizar ususario{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <h3>Actualizar usuario {{user.lastname}}, {{user.firstname}}</h3>
    <section>
        <form action="/users/update" method="post">
            <input type="hidden" name="id" value="{{id}}">

            <div class="object-property-container">
                <label class="object-property-label"> {{ form.firstname.label }}: </label>
                {{ form.firstname(class="css_class") }}
            </div>
            <div class="object-property-container">
                <label class="object-property-label"> {{ form.lastname.label }}: </label>
                {{ form.lastname(class="css_class") }}
            </div>
            <div class="object-property-container">
                <label class="object-property-label"> {{ form.username.label }}: </label>
                {{ form.username(class="css_class") }}
            </div>
            <div class="object-property-container">
                <label class="object-property-label"> {{ form.email.label }}: </label>
                {{ form.email(class="css_class") }}
            </div>
            <div class="object-property-container">
                <label class="object-property-label"> {{ form.active.label }}: </label>
                {{ form.active(class="css_class") }}
            </div>
            <div class="object-property-container">
                <label class="object-property-label"> {{ form.password.label }}: </label>
                {{ form.password(class="css_class") }}
            </div>
            <div class="object-property-container">
                <label class="object-property-label"> Roles: </label>
                <select class="object-property-value" name="roles" multiple>
                    {% for role in roles%}
                        <option value="{{role.id}}" {{'selected' if user.has_role(role.id) }}> {{role.name}} </option>
                    {% endfor%}
                </select>
            </div>
      
            <input class="button button--primary" type="submit" name="Editar" value="Confirmar" />
            <a class="button" href="/users">Cancelar</a>

        </form>
    </section>
{% endblock %}