{% extends "layout.html" %}

{% block section_name %}Gestión de usuarios{% endblock %}

{% block content%}
<table class="index-table box">
  <thead>
      <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Username</th>
          <th>Activo</th>
          <th>Roles</th>
          <th>Acciones</th>
      </tr>
  </thead>
  <tbody>
      {% for user in users %}
      <tr>
          <th>{{user.id}}</th>
          <th>{{user.firstname}}</th>
          <th>{{user.lastname}}</th>
          <th>{{user.email}}</th>
          <th>{{user.username}}</th>
          <th>{{'Si' if user.active else 'No'}}</th>
          <th> {{ user.roles | map(attribute='name') | join(', ')}}</th>
          <th>
            <a href="{{url_for('users.edit', id=user.id)}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a href="{{url_for('users.destroy', user_id=user.id)}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </th>
      </tr>
      {% endfor %}
  </tbody>
  </table>
  <a href="{{ url_for('users.new') }}"><button>Crear nuevo usuario + </button></a>
{% endblock%}