{% extends "layout.html" %}
{% block title%} Usuarios{% endblock %}
{% block navbar%} {{super()}} {% endblock %}
{% block content%}
<div class="filter-section">
    <form url="{{ url_for('users.index') }}" method="GET">
        <h2> Filtros </h2>
        <div class="object-property-container">
            <label class="object-property-label"> Email:</label>
            <input class="object-property-value" type="search" name="email" value="{{ filters.get('email', '') or '' }}"/>
        </div>
        <div class="object-property-container">
            <label class="object-property-label"> Activo:</label>
            <input type="radio" name="active" value="any" {{ 'checked' if filters.get('active') == None }} />
            <label> Todos </label>
            <input type="radio" name="active" value="true" {{ 'checked' if filters.get('active') }}/>
            <label> Si </label>
            <input type="radio" name="active" value="false" {{ 'checked' if filters.get('active') == False }}/>
            <label> No </label>
        </div>
        <input type="submit" name="Filtrar" value="Filtrar"/>
    </form>
</div>
<table class="index-table box">
  <thead>
      <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Username</th>
          <th>Activo</th>
          <th>Roles</th>
          <th>Acciones</th>
      </tr>
  </thead>
  <tbody>
      <a href="{{url_for('users.csv_export', **filters) }}"><button>Exportar a csv</button></a>
      {% for user in users %}
      <tr>
          <th>{{user.id}}</th>
          <th>{{user.firstname}}</th>
          <th>{{user.lastname}}</th>
          <th>{{user.email}}</th>
          <th>{{user.username}}</th>
          <th>{{'Si' if user.active else 'No'}}</th>
          <th> {{ user.roles | map(attribute='name') | join(', ')}}</th>
          <th>
            <a href="{{url_for('users.edit', id=user.id)}}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a href="{{url_for('users.destroy', user_id=user.id)}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </th>
      </tr>
      {% endfor %}
  </tbody>
</table>
<div class="paginator-container">
    {% for i in range(1, pages + 1) %}
    {% if i == current_page %}
        <div class="paginator-number current-page">{{ i }}</div>
        {% else %}
            <a class="paginator-number", href="{{ url_for('users.index', page=i, **filters) }}">{{i}}</a>
        {%endif%}
    {% endfor %}
</div>
<a href="{{ url_for('users.new') }}"><button>Crear nuevo usuario + </button></a>
{% endblock%}