{% extends "layout.html" %}
{% from "_render_field.html" import render_field %}

{% block title %} Edición de usuario {% endblock %}
{% block head %} {{ super() }} {% endblock %}
{% block content %}
    <h1>Creación de usuario</h1>
    <section>
        <form action="{{url_for('users.create')}}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="object-property-container">
                <label class="object-property-label"> {{ form.firstname.label }}: </label>
                {{ form.firstname(class="css_class") }}
            </div>
            <div class="object-property-container">
                <label class="object-property-label"> {{ form.lastname.label }}: </label>
                {{ form.lastname(class="css_class") }}
            </div>
            <div class="object-property-container">
                <label class="object-property-label"> {{ form.username.label }}: </label>
                {{ form.username(class="css_class") }}
            </div>
            <div class="object-property-container">
                <label class="object-property-label"> {{ form.email.label }}: </label>
                {{ form.email(class="css_class") }}
            </div>
            <div class="object-property-container">
                <label class="object-property-label">{{ form.active.label }}:</label>
                <input class="object-property-value" type="checkbox" name="active"/>
            </div>
            <div class="object-property-container">
                <label class="object-property-label"> {{ form.password.label }}: </label>
                {{ form.password(class="css_class") }}
            </div>
            <div class="object-property-container">
                <label class="object-property-label"> Roles: </label>
                <select class="object-property-value" name="roles" multiple>
                    {% for role in roles%}
                        <option value="{{role.id}}"> {{role.name}} </option>
                    {% endfor%}
                </select>
            </div>

            <a class="edit-link" href="/users"><button type="button">Cancelar</button></a>
            <input class="edit-link" type="submit" name="Editar" value="Guardar" />
        </form>
    </section>
{% endblock %}