{% extends "layout.html" %}

{% block section_name %}Crear usuario{% endblock %}

{% block content %}
    <h1>Creación de usuario</h1>
    <section>
        <form action="{{url_for('users.create')}}" method="post">
            <div class="object-property-container">
                <label class="object-property-label"> Nombre: </label>
                <input class="object-property-value" type="text" name="firstname"/>
            </div>
            <div class="object-property-container">
                <label class="object-property-label"> Apellido: </label>
                <input class="object-property-value" type="text" name="lastname" />
            </div>
            <div class="object-property-container">
                <label class="object-property-label"> Nobre de usuario: </label>
                <input class="object-property-value" type="text" name="username" />
            </div>
            <div class="object-property-container">
                <label class="object-property-label"> Email: </label>
                <input class="object-property-value" type="text" name="email" />
            </div>
            <div class="object-property-container">
                <label class="object-property-label">Activo: </label>
                <input class="object-property-value" type="checkbox" name="active"/>
            </div>
            <div class="object-property-container">
                <label class="object-property-label"> Password: </label>
                <input class="object-property-value" type="password" name="password"  />
            </div>
            <div class="object-property-container">
                <label class="object-property-label"> Roles: </label>
                <select class="object-property-value" name="roles" multiple>
                    {% for role in roles%}
                        <option value="{{role.id}}"> {{role.name}} </option>
                    {% endfor%}
                </select>
            </div>

            <a class="edit-link" href="/users"><button type="button">Cancelar</button></a>
            <input class="edit-link" type="submit" name="Editar" value="Guardar" />
        </form>
    </section>
{% endblock %}