{% extends "layout.html" %}

{% block title_section_name %}Configuración del sistema{% endblock %}

{% block header_section_name %}Configuración del sistema{% endblock %}

{% block content %}
<section>
  <div class="object-property-container">
    <label class="object-property-label">Cantidad de items para listados: </label>
    <div class="object-property-value">{{ system_config.items_qty_for_grids }}</div>
  </div>
  <div class="object-property-container">
    <label class="object-property-label">Pagos publicos: </label>
    <div class="object-property-value">
      {{ 'Habilitado' if system_config.public_payments_available else 'Deshabilitado' }}
    </div>
  </div>
  <div class="object-property-container">
    <label class="object-property-label">Informacion de contacto pública: </label>
    <div class="object-property-value">
      {{ 'Habilitado' if system_config.public_contact_info_available else 'Deshabilitado' }}
    </div>
  </div>
  <div class="object-property-container">
    <label class="object-property-label">Texto cabecera de pagos: </label>
    <div class="object-property-value">{{ system_config.payment_header_text}}</div>
  </div>
  <div class="object-property-container">
    <label class="object-property-label">Valor cuota mensual: </label>
    <div class="object-property-value">$ {{ system_config.base_monthly_fee}}</div>
  </div>
  <div class="object-property-container">
    <label class="object-property-label">Intereses por pago retrasado: </label>
    <div class="object-property-value">{{ system_config.delayed_payment_interests_rate * 100}} %</div>
  </div>

  <a class="button button--primary" href="/configuracion/actualizar">Actualizar</a>
</section>
{% endblock %}